h1 {color: darkblue;
font-weight: 220.px; 

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h2 {color: royalblue;
font-weight: 190.px;
 
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;

}

p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto; 
  font-weight: <150>;
  font-style: normal; 
}
 
 h4 {

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <135>;
  font-style: normal;


  }